iha089_lab_info/
IHA089_Labs_venv/
IHA089_Mail/
Labs/
__pycache__/

!*.py
!*.crt
!*.key
!*.pem
!.version
!README.md
!.gitignore
!setup.py
!modules.txt
!sec_bas.py
!iha089-labs.py
!templates/
!static/
